<!DOCTYPE html>
<html lang="zh-TW">
{% load static %}
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simon's Website">
        <meta name="keywords" content="Simon,Movie">
        <meta name="author" content="Made By Simon">

        <title>Simon's</title>

        <link rel="stylesheet" type="text/css" href="{% static "css/news_table.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/news_content.css" %}"/>
    </head>

    <body> 
    <span>@@非商業用途,僅使用測試@@</span><br>
    <a href="https://nba.udn.com/nba/cate/6754">資料來源: 聯合新聞網-NBA</a>
        <table id="news_table">
            <tr>
                <th colspan="2" >焦點新聞</th>
            </tr>
        </table>

        <!-- The Modal -->
        <div id="myModal" class="modal">

        <!-- Modal content -->
            <div class="modal-content" id="content_text">
                
            </div>

        </div>





        <script
            src="http://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    </body>



