{% extends 'base.html' %}
{% block title %} NBA NEWS {% endblock %}
{% block content %}

<div class='container'>
{% for message in messages %}
    <div class='alert alert-{{ message.tags }}'>{{ message }}</div>
{% endfor %}
<nav class='navbar navbar-inverse'>
    <div class='col-md-12'>

            <div class='panel-heading' align=center>
                <a href='/'><h3><span class='glyphicon glyphicon-cloud-download'></span> NBA NEWS </h3></a>
            </div>

    </div>
</nav>

<div class='container-fluid' align=left>
    {%csrf_token%}
    <div class='row'>
    {% if newsInfo %}
    {% for news in newsInfo %}
        <div class='col-sm-12 col-md-8 col-md-offset-2'>
            <div class='panel {% cycle "panel-primary" "panel-info" "panel-warning" "panel-success" %}'>
                <div class='panel-heading'>
                    <table width='100%'>
                        <tr>
                            <td>
                                <h4>【{{ news.title }}】</h4>
                            </td>
                            <td align=right>
                                <i><small>{{ news.reporter }}</small></i><br/>
                                <i><small>{{ news.time }}</small></i>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class='panel-body'>
                    <a href={{ news.link }}><span class='glyphicon glyphicon glyphicon-check'></span> 原始報導連結</a>
                    <hr>
                    <div class="col-xs-12 col-sm-6">
                    <img src={{ news.image }} title="News image" width=500><br/>
                    </div>
		    <div class="col-xs-12 col-sm-6">
                    <tr>
                    <button class='btn btn-default'><a href="javascript:Content_AJAX({{news.news_id}})"><span class='glyphicon glyphicon glyphicon-check'></span>點擊顯示內文</a></button>
                    </tr>
                    </div>
                </div>
             </div>
         </div>
       {% endfor %}
	<div id="windows" title="報導內容" align="center" hidden="True">
            <table>
                <tbody id="NEWS"></tbody>
            </table>

        </div>
	<script type="text/javascript">
		var $j = jQuery.noConflict();
		function Content_AJAX(news_id){
		    $("#NEWS").ajaxStart(function(){ $(this).text("資料讀取中..."); });
		    $("#NEWS").ajaxStop(function(){ $(this).text(); });
		    $.ajax({
		            url: '/api/nba/' + news_id + '/',
		            type: 'GET',
		            data: {},
		            dataType: 'json',
		            timeout: 10000,
		            success: function(result) {
		            Show_content(result)
		            }
		        });
		    $j("#windows").dialog({
		    height: 500,
		    width: '50%',
		    modal: false,
		    buttons: {
		        "Close": function() { $j(this).dialog("close"); }
		    }
		});
		};
		function Show_content(data){
		  var viewData="";
		  var title = data.title;
		  var time = data.time;
		  var content = data.content;
		  viewData += "<h2 align='center'>" + title + "</h2>";
		  viewData += "<p>"+ content +"</p>"
		  $("#NEWS").html(viewData);
		 };
	</script>
    {% else %}
    <a href='/' class='list-group-item' title='There are no news yet'> There are no news yet </a>
    {% endif %}
    </div>
</div>
{% endblock %}
