<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <title>NBA NEWS PAGE</title>
        {% load static %}
        <script type='text/javascript' src='{% static "jquery-1.9.1.min.js" %}'></script>
        <script type='text/javascript'>
            function getData(id) {
                var urlnews = "https://udnnbanews.herokuapp.com/api/NBA/"
                $.ajax(urlnews, {
                    type : "GET",
                    dataType : "application/json",
                    success : function(response) {
                        data = response
                        var text = data
                        for(var i = 0; i < data.length; i++) {
                            if(data[i].id == id) {
                                text += data[i].content
                            }
                        }
                        $("#" + id).html(text);
                    },
                    error : function(response) {
                        console.log("request no. 1 have failed");
                    }
                });
            };
        </script>
    <head>
    <body>
        <h1>NBA 焦點新聞</h1>
        {% for x in data %}
        <button onclick = "getData({{x.id}});">{{x.title}}</button>
        <div id = {{x.id}}></div>
        {% empty %}
        <h1>沒有資料</h1>
        {% endfor %}
        <a href = "https://udnnbanews.herokuapp.com/api/NBA/">API</a>
    </body>
</html>