<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <title>NBA NEWS PAGE</title>
        <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
        <script type = "text/javascript">
            function getData() {
                $.ajax({
                    url : "http://127.0.0.1:8000/api/NBA",
                    type : "GET",
                    dataType : "json",
                    success : function(response) {
                        data = response.results
                        var html = ""
                        for(var i = 0; i < data.length; i++) {
                            html += ""
                        }
                        $("#title").html(html);
                    },
                    error : function(response) {
                        alert("Error")
                    }
                });
            };
        </script>
    <head>
    <body>
        <h3>NBA 焦點新聞</h3>
        <button onclick = "getData();">Reset</button>
        {% for x in data %}
        <p><a href = {{x.href}}>{{x.title}}</a></p>

        {% empty %}
        <h1>沒有資料</h1>
        {% endfor %}
    </body>
</html>