!example.env
*.yml
*.pyc
!docker-compose.yml
nba_news_backend/nba_news_backend/__pycache__/
nba_news_backend/backend_app/migrations/*
!nba_news_backend/backend_app/migrations/__init__.py
nba_news_backend/backend_app/__pycache__/
nba_news_backend/crawler_app/build/
nba_news_backend/crawler_app/__pycache__/
nba_news_backend/crawler_app/dbs/
nba_news_backend/crawler_app/eggs/
nba_news_backend/crawler_app/logs/
nba_news_backend/crawler_app/project.egg-info/
nba_news_backend/crawler_app/spiders/__pycache__/
nba_news_backend/statics/
nba_news_backend/celerybeat-schedule
nba_news_backend/celerybeat.pid
nba_news_backend/db.sqlite3
env/
