version: '3'
services:

    db:
    #   container_name: postgres
      image: postgres
      environment:
        POSTGRES_PASSWORD: password123
      ports:
        - "5432:5432"
        # (HOST:CONTAINER)
      volumes:
        - pgdata:/var/lib/postgresql/data/

    redis:
      container_name: redis
      image: redis
      restart: always
      command: ["redis-server", "--appendonly", "yes"]
      ports:
        - "6379:6379"
      volumes:
        - redis-data:/data

    nginx:
        # container_name: nginx-container        
        build: ./nginx
        restart: always
        ports:
        - "8080:80" 
        volumes:        
        - api_data:/docker_api                       
        - ./log:/var/log/nginx              
        depends_on:
        - api        
        
    api:        
        build: ./api        
        restart: always        
        command:  bash -c "python manage.py collectstatic --noinput && 
                                        daphne -u /docker_api/daphne.sock mysite.asgi:application"                             
        ports:
        - "8002"
        volumes:
        - api_data:/docker_api        
        depends_on:
        - db
        - redis  

volumes:
    api_data:    
    pgdata:
    redis-data:

