Django==2.2.6
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
dj-config-url==0.1.1
dj-static==0.0.6
djangorestframework==3.10.3
gunicorn==19.9.0
idna==2.8
pip==19.0.3
psycopg2==2.8.3
pytz==2019.3
requests==2.22.0
setuptools==41.4.0
soupsieve==1.9.4
sqlparse==0.3.0
static3==0.7.0
urllib3==1.25.6