pandas
django==2.0.6
googlemaps
sqlalchemy
pymysql
matplotlib
confluent_kafka
requests
bs4
lxml
opencc-python-reimplemented
jieba
sklearn 
joblib
numpy
bs4
textrank4zh
snownlp
shortcuts
transformers==2.1.1
wordcloud
elasticsearch
argparse
djangorestframework
scrapy
Twisted
channels==2.1.7
channels_redis
mysqlclient-1.4.6-cp37-cp37m-win_amd64.whl
aiowebsocket
asset
websocket