arrow==0.12.1
beautifulsoup4==4.6.3
blessed==1.15.0
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Django==2.1.2
django-filter==2.0.0
django-picklefield==1.1.0
django-q==1.0.1
djangorestframework==3.9.0
docopt==0.6.2
idna==2.7
Markdown==3.0.1
pipreqs==0.4.9
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
six==1.11.0
urllib3==1.24
wcwidth==0.1.7
yarg==0.1.9
