{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="side col-xl-3">
        <div class="d-flex">
            <ul id="newslist">
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
                <li class="news"><a href="">約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</a></li>
            </ul>
        </div>
        <div class="d-flex">
            <ul class="pagination mx-auto">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main col-xl-8">
        <div class="title">
            <h2>約柯奇擔任板凳奇兵 塞國主帥解釋背後邏輯</h2>
        </div>
        <div class="published_at">
            2019-09-07 10:40
        </div>
        <div class="author">
            NBA台灣 / udn記者陳元廷／綜合外電報導
        </div>
        <div class="content">
            <!--0-->
            <p></p>
            <p></p>
            <p>本屆FIBA籃球世界盃一路走來至今勢如破竹，加上美國險些栽在最終並未晉級16強的土耳其之手，塞爾維亞無疑是現在奪金最大熱門之一，而化身「板凳暴徒」的約柯奇（Nikola Jokic）自然是一大關鍵。
            </p>
            <!--1-->
            <p></p>
            <p>塞爾維亞總教練喬爾傑維奇（Aleksandar Djordjevic）對這奇招也終於對外作出解釋，他說：「任何了解籃球的人都知道，重要的不是誰先發，而是誰在比賽最後階段留在場上。」</p>
            <p></p>
            <p>他進一步指出：「先發或替補是隨每一場作調整，世界盃賽程還很長，且比賽強度非常高，特別是肢體接觸方面，且在我們塞爾維亞人眼中，先發名單根本一點也不重要。」</p>
            <!--3-->
            <p></p>
            <p>此外，喬爾傑維奇也強調，陣中有4位先發等級長人讓調度更靈活，除約柯奇是NBA球員，馬揚諾維奇（Boban Marjanovic）也是現役成員，而米路提諾夫（Nikola
                Milutinov）是馬刺放洋潛力，拉杜里察（Miroslav Raduljica）也有NBA資歷。
            </p>
            <!--4-->
            <p></p>
            <p>喬爾傑維奇更特別點名馬揚諾維奇，稱讚這位巨漢說：「他是今年世界盃中頂尖球員之一，他知道自己角色定位，他是很獨特的球員，進攻技巧非常全面，且努力防守，我很滿意他至今表現。」</p>
            <!--5-->
            <p></p>
        </div>
    </div>
    <div class="main col-xl-1"></div>
</div>
{% endblock %}