  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #333;">
  <a class="navbar-brand" href="/index/"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/index/" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
<nav aria-label="breadcrumb ">
  <ol class="breadcrumb pl-0">
    <li class="breadcrumb-item "><a href="/index/" class="text" >Home</a></li>
    <li class="breadcrumb-item "><a href="/detail/1" class="text">Detail</a></li>
    <li class="breadcrumb-item"><a href="/news/" class="text">Update</a></li>
  </ol>
</nav>