<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<table class="table table-striped table-dark" id="TblHotNews">
	<thead>
		<th scope="col" style='text-align:center;'>NewsId</th>
		<th scope="col" style='text-align:center;'>NewsTitle</th>
		<th scope="col" style='text-align:center;'>Author</th>
		<th scope="col" style='text-align:center;'>NewsImg</th>
		<th scope="col" style='text-align:center;'>PublishTime</th>
	</thead>
	<tbody>
	</tbody>
</table>

{% load static %}

<script type="text/javascript">
	jQuery(function($){
		$(document).ready(function(){
			$.get("api/HotNewsList/", 
				function(NewsData){
					console.log(NewsData);
					for (var Index = 0; Index < NewsData.length; ++Index)
					{
						var NewsRecord = "<tr>";
						NewsRecord += ("<td class='align-middle' style='text-align:center;'><a href='/NBAHotNewsApp/" + NewsData[Index].NewsId + "'>" + NewsData[Index].NewsId + "</a></td>");
						NewsRecord += ("<td class='align-middle' style='text-align:center;'>" + NewsData[Index].NewsTitle + "</td>");
						NewsRecord += ("<td class='align-middle' style='text-align:center;'>" + NewsData[Index].Author + "</td>");
						NewsRecord += ("<td class='align-middle' style='text-align:center;'><img style='height:15%;width:15%'  src='/static/" + NewsData[Index].ImgFileName + "' /></td>");
						NewsRecord += ("<td class='align-middle' style='text-align:center;'>" + NewsData[Index].NewsUpdateDateTime + "</td>");
						NewsRecord += "</tr>";
						$("#TblHotNews > tbody").append(NewsRecord);
					}
				}
			);
		});
	});
</script>
<script>
    var NewsNotificationSocket = new WebSocket(
       'ws://' + window.location.host +
       '/ws/Index');
	
	NewsNotificationSocket.onmessage = function(e){
		console.log(e.data);
	};
	
	NewsNotificationSocket.onclose = function(e){
		console.log("Socket closed");
	};
</script>
