{% load static %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="{% static 'js/cross-domain.js' %}"></script>
<script src="{% static 'js/news.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/site.css' %}">
<!------ Include the above in your HEAD tag ---------->

<div class="content_box">
  <div class="left_bar">
    <ul class=" nav-tabs--vertical nav" role="navigation" id="newslist">

    </ul>
  </div>
  <div class="right_bar ">
    <div class="tab-content ">
      <div id="ShowNews">

      </div>
    </div>
  </div>
</div>
