body{
    margin: 0;
}

.title_box{
    min-height: 60px;
    padding: 30px 18px 0px 16px;
    border-style: groove;
    border-width: 2.5px;
    border-color: tomato;
    background-color:rgb(0,107,183); 
    color:rgb(255,255,255);
    font-weight: bold;
    font-size:25px;
}

#pic_box{
    text-align: center;
    border-style: groove;
    border-color: tomato;
    padding: 10px;
    border-width: 1.2px;
    background-color: lavenderblush;

}

.pic{
    max-width: 35%;
    max-height: 80%;
    box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
   
}

.title{
    display: inline;
   
}

.time{
    display: inline;
    float: right;
}

.content{
    padding: 20px;
    font-size: 20px;
    border-style: groove;
    border-color: tomato;
    padding: 10px;
    border-width: 1.2px;
    background-color: lavenderblush;
    line-height: 35px;
}
.back_link{
    text-align: center;
}

#back_home{
    font-size: 19px;
    padding: 10px;
}