body{
    margin: 0;
    font-family: 微軟正黑體;
    /* position: relative; */
}

.head_bar{
    width: 100%;
    height: 25%;
    background-color: crimson;
    /* position: absolute; */
}

#nba_title{
    padding: 10px;
    width: 12%;
    color: blue;
    font-size: 150%;
    font-weight: bold;
    /* position: absolute; */
    top:11%
}
section{
    max-width: 100%;
    padding: 10px;
    position: relative;
    background-color: aliceblue;
    border:1px; 
    
}

.title_box{
    padding: 10px;
    background-color:rgba(255,255,0,7.4);
    font-weight: bold;
    font-size:20px;
}
.read_link{
    white-space:nowrap;
    position: absolute;

}
.content_box{
   border-style: solid;
   border-width: 0.5px;
   border-color: tomato;
   
}
.content{
    max-width: 50%;
    display: inline-block;
    padding: 5px 1px 7px 149px;
    position: absolute;
    top: 30%;
    line-height: 35px;
    text-align:left;
    font-size: 16px;
}
  

.content_img{
    max-width: 25%;
    max-height: 25%;
    display: inline-block;
    padding: 10px;
}