#news_table {
    border-collapse: collapse;
    font-size:30px;
    margin-left:auto; 
    margin-right:auto;
    
  }
  
#news_table th, td {
    padding: 15px;
    border: 1px solid black;
  }


#news_table p {
    font-size:12px;
    text-indent : 4em ;

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.bye {
    font-size: 10px;
    position: absolute;
    bottom: 3px; 
    right: 6px;
    
}

p.datetime{
    font-size: 10px;
    color: gray
}