h1 {
    font-size: 50px;
    color: darkblue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
    font-size: 20px;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#list_content {
  width: 700px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
