{% extends 'base.html' %}

{% block title %} NBA News List {% endblock %}

{% block domready %}
    $.ajax({
        url: "{{ url }}",
        type: "GET",
        dataType: "json",
        success: function(data) {
            $.each(data['results'], function (index, value) {
                
                var news = $("#empty-news").clone();
                // modify the content
                news.attr('id', value['id']);
                news.find('a').attr('href', value['id']);
                news.find('a figure  img').attr('src', value['img_url']);
                news.find('.title  span').text("Title: " + value['title']);
                news.find('.published  span').text("Published Time: " + value['published']);
                
                // To prserver the order
                $('#news-list .news').last().after(news);

            });
        
        }
    })
{% endblock %} 

{% block content %}
    <div id="news-list">
        {% include 'news/list_ajax.html' %}
    </div>
{% endblock %}