{% extends "base.html" %}

{% block content %}
    <div id="news-block">
        <h4 align="center">NiceToMeetYou 更新自 <span id='update-datetime'>XXX</span></h4>
        <table id='news-table' class="table-expand">
            <thead>
                <tr class="table-expand-row">
                    <th>日期</th>
                    <th>封面</th>
                    <th>主題</th>
                </tr>
            </thead>
            <tbody id='news-table-body'>
                
            </tbody>
        </table>
    </div>

    <div class="news-detail-block grid-x grid-margin-x">
        <div class="cell medium-0 large-2"></div>
        <div class="cell medium-12 large-8">
            <table id='news-detail' class="table-expand">
                <tbody class='news-detail' id='news-detail-table-body'>
                    
                </tbody>
            </table>
        </div>
        <div class="cell medium-0 large-2"></div>
    </div>


    <script>
        {% comment %} Control script here {% endcomment %}
        const PROTOCOL = '{% if request.is_secure %}https{% else %}http{% endif %}'
        const HOST = '{{ request.get_host }}'

        class Util {
            static transFormatDateString = (str) => {
                var date = new Date(str)
                return `${date.getFullYear()}/${date.getMonth()+1}/${date.getDate()} ${date.getHours()}:${date.getMinutes()}`
            }

            static goBackToListPage = () => {
                $('#news-detail-table-body').empty();
                $('#news-block').show()
            }
        }

        $(document).ready(() => {
            fetch(`${PROTOCOL}://${HOST}/api/New`, {})
                .then((response) => {
                    console.log(response);
                    return response.json(); 
                })
                .then((news) => {
                    console.log(news);
                    {% comment %} date = new Date(element.create_datetime) {% endcomment %}
                    news.forEach((element) => {
                        // News List
                        $('#news-table-body').append(
                            `
                            <tr>
                                <td>${Util.transFormatDateString(element.create_datetime)}</td>
                                <td><img src="${element.title_image_url}" alt="囧"></td>
                                <td>
                                    <a id='${element.id}' href="#">
                                        <span>${element.title}</span>
                                    </a>
                                </td>
                            </tr>
                            `
                        );
                        // Detail Page Content
                        $(`#${element.id}`).bind('click', () => {
                            $('#news-block').hide();
                            $('#news-detail-table-body').append(
                            `
                            <tr><td><h3>${element.title}</h3></td></tr>
                            <tr><td><img src="${element.title_image_url}" alt="囧"></td></tr>
                            <tr>
                                <td><div>${element.content}</div></td>
                            </tr>
                            <tr>
                                <td><a class="button primary" id='gobackButton' href="#">回上一頁</a></td>
                            </tr>
                            `
                            );
                            $('#gobackButton').bind('click', Util.goBackToListPage)
                        });
                    });
                })
                .catch((err) => {
                    console.log('Error:', err);
                });
        })
    </script>

    <style>
    .news-detail th, .news-detail td {
        text-align: center;
    }
    </style>
{% endblock content %}
