{% load static %}
<script src="{% static 'js/get_news.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% block title %}
   <title>NBA TOP NEWS LIST</title>
{% endblock %}
<script>setInterval(check_news_list, 600000);</script>
 <div id=news_list>
 {% for news in news_list %}
 <div class=article id={{news.article_id}}>
 <a href="#" onclick="get_news({{news.article_id}});" h1>{{ news.title }}</a>
 <img src={{news.image_url}} width="100" height="50">
	{{ news.published_time}}<br>
	</div><br><br><br>
	{% endfor %}
 </div>
 <div id="article_content" style="position:absolute;left:1000px;top:10px;width:400px;height:50px">
 </div>

