{% extends "base.html" %}
{% block title %}
	NBA News
{% endblock title %}

{% block body %}
	<script>
	$.get("api/show",function(data){
		for (i in data){
			str = "<tr><td>"+data[i]["title"]+"</td><td>"+data[i]["content"]+"</td><td>"+data[i]["link"]+"</td></tr>"
			$("tbody").append(str)
		}
	});

	
	</script>
	
	<div class="container">
		<table class="table">
		<thead>
			<tr>
				<th>標題</th>
				<th>內容</th>
				<th>詳細頁面</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
	</div>
	

{% endblock body %}