<div class="row">
    <div class="widget">
        <div class="row">
            <div class="widget">
                <h3>NBA焦點新聞列表</h3>
                <div class="nba_list">
                </div>
                <script>
                    $(function () {
                        $.ajax({
                            type: 'GET',
                            url: 'http://127.0.0.1:8000/focus/',
                            success: function (data) {
                                for (var i = 0; i < 5; i++) {
                                    $('div[class="nba_list"]').append('<a href="javascript: void(0)" id="'+data[i].id+'"onclick="get_id(this.id)">' + data[i].title + '</p>');
                                }
                            }
                        });
                    });
                    function get_id(myid){
                        $.ajax({
                            type: 'GET',
                            url: 'http://127.0.0.1:8000/focus/'+myid,
                            success: function (data) {
                                $('div[class="nba_content"]>h1').html(data.title);
                                $('div[class="nba_content"]>p>strong').html(data.author);
                                $('div[class="nba_content"]>p:last').html(data.body);

                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>
