# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = crawler.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy]
url = http://scrapy-nba.herokuapp.com
project = crawler



