<!DOCTYPE html>
<html>
 <head>
   <title>nba news api</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 </head>
<body>
    <table id = "tbl_news" class = "table table-hover"></table>
    <script type="text/javascript"></script>
</body>
</html>
<script>
    var recent_title = '';
        (function refresh(){
            $.ajax({
                     url : "/nba_news.json",
                     dataType: "json",
                     success : function(data){
                                if(data[0].title != recent_title){
                                    recent_title = data[0].title;
                                    var tbl_news = '<tbody>';
                                    for(i = 0; i < data.length; i++){
                                        tbl_news += '<tr>';
                                        tbl_news += '<td><a href = /story/' + data[i].id  + '>' + data[i].title + '</td>';
                                        tbl_news += '<td>' + data[i].created + '</td>';
                                        tbl_news += '</tr>';
                                    }
                                    tbl_news += '</tbody>';
                                    $('#tbl_news').html(tbl_news);
                                    alert("New stories!!");
                                }
                               }
            });
            setTimeout(refresh, 3000)
        })(); 
        setInterval(function(){
            console.log("Crawl");
            $.ajax({
                     url : "/crawl",
                     success : function(data){console.log(data)}
            });
        },5000);
</script>
