<!DOCTYPE html>
<html>
 <head>
   <title>nba news api</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 </head>
<body>
<div id="jsonresp" style="margin-top: 100px">
   <p><label> Title :</label> <span id="title"></span></p>
   <p><label> Created :</label> <span id="created"></span></p>
   <p><label> Author :</label> <span id="author"></span></p>
   <p><label> Image : </label> <span id="image"></span></p> 
</div>
    <script type="text/javascript"></script>
</body>
</html>

<script>
    setInterval(function(){
        $.ajax({
                 url : "/nba_news.json",
                 dataType: "json",
                 success : function (data) {
                          $('div#jsonresp span#title').text( data[0].title);
                          $('#created').text( data[0].created);
                          $('#author').text( data[0].author);
                          $('#image').text( data[0].image);
                 }
        });
    }, 5000); 
</script>
