<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NBA news</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/newsDetail.css' %}">
    </head>
    <body ng-app="newsApp" ng-controller="newsDetailController">
        <div id="body_content">
            <h1 id="title" ng-bind="newsTitle"></h1>
            <div id="author_info">
                <span ng-bind="newsDatetime | date:'yyyy-MM-dd HH:mm'"></span>
                <span ng-bind="newsAuthor"></span>
            </div>
            <br>
            <div>
                <p ng-bind="newsContent"></p>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
            <script src="{% static 'js/app.js' %}"></script>
        </div>
    </body>
</html>