#listView {
    padding: 10px 5px;
    margin-bottom: -1px;
    min-height: 510px;
}
.news {
    float: left;
    position: relative;
    width: 111px;
    height: 170px;
    margin: 0 5px;
    padding: 0;
}
.news img {
    width: 110px;
    height: 110px;
}
.news h3 {
    margin: 0;
    padding: 3px 5px 0 0;
    max-width: 96px;
    overflow: hidden;
    line-height: 1.1em;
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
}
.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}