{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Headline News Feed</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'dist/css/album.css' %}" rel="stylesheet">
  </head>

  <body>

    <main role="main">

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row", id="container-row">
          <!-- Posts to be inserted -->
          </div>
        </div>
      </div>
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="{% static "assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>
    <script src="{% static 'assets/js/src/main.js' %}"></script>

  </body>
</html>
