<!doctype html>
<!-- https://codertw.com/%E5%89%8D%E7%AB%AF%E9%96%8B%E7%99%BC/6607/ -->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>新聞爬蟲服務</title>
  </head>
  <p>
    <h1>新聞爬蟲服務</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app_2.js"></script>
    <p>最新爬取新聞通知滾動條:</p>
    <textarea id="chat-log" cols="100" rows="2"></textarea><br/>

    <table id="dailyTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>標題</th>
                <th>記者</th>
                <th>新聞創建日期</th>
            </tr>
        </thead>
    </table>
  </body>
</html>