<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>UDN NBA Crawler</title>
  </head>
  <body>
    <div class="container-fluid">
    <h1>UDN NBA Crawler</h1>
    資料來源: <a class="text-success" href="https://nba.udn.com/nba/index?gr=www" target="_blank">https://nba.udn.com/nba/index?gr=www</a>
    <br>
    <div class="row">
        <div class="col-3">
        {% for a in articles %}
            <a class="text-primary" href="#" value="{{a.id}}">{{a.title}}</a>
            <br>      
        {% endfor %}
        </div>
        <div class="col-9">
            <h3><span id="title"></span></h3>
            <span id="pub_time"></span>
            <p><span id="content"></span></p>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <script type="text/javascript">
      $('.text-primary').click(function(){
        var id = $(this).attr('value');
        var url = "http://192.168.56.87:5000/api/articles/" + id
        $.ajax({
            url: url,
            dataType: "json",
            success: function(data){
                data.pub_time = data.pub_time.replace(/T/, ' ')
                data.pub_time = data.pub_time.replace(/Z/, ' ')
                $('#title').text(data.title);
                $('#pub_time').text(data.pub_time);
                $('#content').text(data.content);
            }
        });
      });
  </script>
</html>